@{
    ViewBag.Title = "SelectSeats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<LAPTRINHWEB.Models.Seat>


<div class="tongSelectSeats">


    <div class="ghecontainer">
        <form action="@Url.Action("BookSeats")" method="post">
            <input type="submit" class="submit-btn" value="Đặt ghế đã chọn" />
            @for (int i = 0; i < Model.Count(); i++)
            {
                var seat = Model.ElementAt(i);
                <div class="seat">
                    <input type="checkbox" id="seat@(seat.SeatID)@(i)" name="selectedSeats" value="@seat.SeatID" />
                    <label for="seat@(seat.SeatID)@(i)">
                        <h3> @seat.SeatNumber</h3>
                        <p>Loại ghế: @seat.SeatClass</p>
                        <p>Giá: @seat.Price</p>
                    </label>
                </div>
                if ((i + 1) % 6 == 0)
                {
                    @:<div style="flex-basis: 100%; height: 0;"></div> <!-- Tạo khoảng cách giữa các hàng -->
                }
            }
        </form>
    </div>
</div>


<style>
    .submit-btn {
        display: block; /* Đặt nút thành block để có thể áp dụng margin tự động */
        width: 200px; /* Đặt chiều rộng cố định cho nút */
        margin: 20px auto; /* Áp dụng margin trên và dưới là 20px, và margin tự động ở hai bên để căn giữa */
        padding: 10px 0; /* Đặt padding cho nút */
        background-color: #77DADA; /* Màu nền cho nút */
        color: white; /* Màu chữ cho nút */
        border: none; /* Bỏ viền nút */
        border-radius: 5px; /* Bo tròn góc của nút */
        cursor: pointer; /* Hiển thị con trỏ chuột dạng pointer khi di chuyển qua nút */
    }

        .submit-btn:hover {
            background-color: #66c0b9; /* Màu nền khi hover */
        }

    .ghecontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 900px;
        margin: auto;
        text-align: center;
    }

    .seat {
        flex: 0 0 18%; /* Hiển thị 5 ghế trên mỗi hàng */
        margin: 0 1%;
        margin-bottom: 15px;
        text-align: center;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f4f4f4;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: table-cell;
    }

        .seat:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }

        .seat input[type="checkbox"] {
            display: none;
        }

            .seat input[type="checkbox"] + label {
                cursor: pointer;
                display: block;
            }

            .seat input[type="checkbox"]:checked + label {
                background-color: #77DADA;
                border: 1px solid #ddd;
                border-radius: 10px;
            }

</style>