
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
    <section class="container-login">
        <div class="container">
            <form action="" method="POST" class="form" id="form-2">
                <h3>Đăng nhập</h3>
                @using (Html.BeginForm())
                {
                    <div class="container-form-input">
                        @Html.TextBox("TenDN")
                        <label for="loginname" class="form-label">Tên đăng nhập</label>
                        @ViewData["Loi1"]
                    </div>

                    <div class="container-form-input">
                        @Html.Password("Matkhau")
                        <label for="password" class="form-label">Mật khẩu</label>
                        @ViewData["Loi2"]
                    </div>

                    <div class="link-a">
                        @Html.ActionLink("Bạn chưa có tài khoản ?", "Dangky", "Accounts")
                    </div>

                    <input type="Submit" value="Đăng nhập" />
                }
            </form>
        </div>
    </section>
</div>
<style>
    .container-login {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f7f7f7;
    }

    .form {
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 370px; 
        margin: auto;
    }



    .container-form-input {
        position: relative;
        margin-bottom: 15px;
    }

        .container-form-input input[type='text'],
        .container-form-input input[type='password'] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 20px;
        }

        .container-form-input label {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            padding: 0 5px;
            transition: all 0.3s ease;
        }

        .container-form-input input:focus + label,
        .container-form-input input:not(:placeholder-shown) + label {
            top: -10px;
            font-size: 12px;
            color: #5fa8d3;
        }

    .form-sumit {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #5fa8d3;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .form-sumit:hover {
            background-color: #3e8ecf;
        }

    .link-a {
        text-align: center;
        margin-top: 10px;
    }

</style>



