@model LAPTRINHWEB.Models.Flight

@{
    ViewBag.Title = "DetailFlight";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DetailFlight</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirlineID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirlineID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureAirportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureAirportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalAirportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalAirportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightID }) |
    @Html.ActionLink("Back to List", "ManagerFlight")
</p>
