@model LAPTRINHWEB.Models.Flight

@{
    ViewBag.Title = "EditFlight";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #4CAF50;
    }

    h2 {
        color: #4CAF50;
        text-align: center;
        padding: 10px;
        font-size: 3em;
        margin-bottom: 20px;
    }

    .form-horizontal .form-control {
        border-radius: 5px;
        border: 2px solid #ddd;
        transition: all 0.3s ease;
        color: black;
    }

    .form-horizontal {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 50%;
        margin: auto;
    }

        .form-horizontal h4 {
            color: #4CAF50;
            text-align: center;
        }

    .form-group {
        margin-bottom: 15px;
    }

    .form-horizontal .control-label {
        text-align: right;
    }

    .form-horizontal .form-control {
        border-radius: 5px;
        border: 2px solid #ddd;
    }

        .form-horizontal .form-control:focus {
            border-color: #4CAF50;
            box-shadow: 0 0 5px #4CAF50;
        }

    .btn-default {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
        display: block;
        margin: auto;
    }

        .btn-default:hover {
            background-color: #45a049;
        }

    .text-danger {
        color: #f44336;
    }

    .back-link {
        display: inline-block;
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        margin-top: 20px;
        display: block;
        text-align: center;
    }

        .back-link:hover {
            background-color: #45a049;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Flight</h2>
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FlightID)

        <div class="form-group">
            @Html.LabelFor(model => model.AirlineID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AirlineID", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureAirportID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartureAirportID", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalAirportID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArrivalAirportID", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control",@type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvailableSeats, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvailableSeats, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AvailableSeats, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlightStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlightStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FlightStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ManagerFlight")
</div>
