@model IEnumerable<LAPTRINHWEB.Models.Customer>

@{
    ViewBag.Title = "ManagerCustomer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Create New", "AddNewCustomer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRegistered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRegistered)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "DetailCustomer", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "DeleteCustomer", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
