@model IEnumerable<LAPTRINHWEB.Models.Airport>

@{
    ViewBag.Title = "ManagerAirport";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
        font-size: 0.9em;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 3px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #ddd;
        }

        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        .table td a {
            display: inline-block;
            padding: 1px 2px;
            margin: 0 1px;
            transition: all 0.3s ease;
        }

            .table td a:hover {
                transform: scale(1.1);
                background-color: #ddd;
            }

    .create-link {
        display: inline-block;
        padding: 5px 10px; 
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        font-size: 0.9em; 
    }

        .create-link:hover {
            background-color: #45a049;
        }
</style>

<p>
    <a href="@Url.Action("AddNewAirport")" class="create-link">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAirport", new { id = item.AirportID }) |
                @Html.ActionLink("Detail", "DetailAirport", new { id = item.AirportID }) |
                @Html.ActionLink("Delete", "DeleteAirport", new { id = item.AirportID })
            </td>
        </tr>
    }
</table>